# 1. Introduction
In the last two missions, we covered the basics of SQL, and explored how to use it to retrieve relevant rows from a database table. In this challenge, you'll practice writing your own SQL queries from scratch.

We'll continue to work with the American Community Survey data on college majors and job outcomes. Here's a preview of recent-grads.csv, the data set we'll be working with:
![](Picture3.png)

We've loaded a subset of the data into a table named recent_grads in a database. The subset contains the 2010-2012 data for recent college grads only. The full table has many more columns (21 to be specific) than the ones displayed above. You can find more details on them at FiveThirtyEight's Github repo.

Here are the descriptions for the columns in the preview:

- Rank - The major's rank by median earnings
- Major_code - The major's code or ID
- Major - The name of the major
- Major_category - The broader category the major belongs to
- Total - The total number of people who studied the major
- Sample_size - The sample size (unweighted) of graduates with full time jobs
- Men - The number of male graduates
- Women - The number of female graduates
- ShareWomen - Women as a proportion of the total number of graduates (a number ranging from 0 to 1)
- Employed - The number of employed graduates

# 2. Use SELECT and LIMIT to filter results

In this step, you'll practice using the SELECT and LIMIT statements.

**Instructions**

Write a query that retrieves the first 20 rows in the table, with only the following columns (in the same order):
- College_jobs
- Median
- Unemployment_rate

In [4]:
import sqlite3
jobs = sqlite3.connect('jobs.db')
c = jobs.cursor()

def print_sql(sql_command):
    for row in c.execute(sql_command):
        print(row)

In [7]:
x='''select College_jobs, Median, Unemployment_rate 
from recent_grads 
limit 10;'''

print_sql(x)

(1534, 110000, 0.018380527)
(350, 75000, 0.117241379)
(456, 73000, 0.024096386)
(529, 70000, 0.050125313)
(18314, 65000, 0.061097712)
(1142, 65000, 0.177226407)
(1768, 62000, 0.095652174)
(972, 62000, 0.021167415)
(52844, 60000, 0.057342277999999997)
(45829, 60000, 0.059173845)

# 3. Use WHERE to filter results

In this step, you'll practice using the WHERE SQL statement to express row filtering criteria.

**Instructions**

Write a query that returns the first five Arts majors. Only include the Major column.

In [11]:
x='''select major 
from recent_grads 
where Major_category='Arts' 
limit 5;'''

print_sql(x)

('MISCELLANEOUS FINE ARTS',)
('COMMERCIAL ART AND GRAPHIC DESIGN',)
('FILM VIDEO AND PHOTOGRAPHIC ARTS',)
('MUSIC',)
('FINE ARTS',)

# 4. Express Criteria With Operators

In this step, you'll practice using SQL's logical operators to express complex criteria.

**Instructions**

Return all non-engineering majors:
- With a median salary less than or equal to 50,000
- Or an unemployment rate higher than 6.5%

Return only these columns (in the same order):
- Major
- Total
- Median
- Unemployment_rate

In [14]:
x='''select Major,Total,Median,Unemployment_rate 
from recent_grads 
where (Major_category != 'Engineering') 
and (Unemployment_rate > 0.065 or Median <= 50000)
limit 5;'''

print_sql(x)

('ACTUARIAL SCIENCE', 3777, 62000, 0.095652174)
('FOOD SCIENCE', 4361, 53000, 0.09693146)
('CONSTRUCTION SERVICES', 18498, 50000, 0.060023041)
('OPERATIONS LOGISTICS AND E-COMMERCE', 11732, 50000, 0.047858702999999995)
('PUBLIC POLICY', 5978, 50000, 0.128426299)

# 5. Order Your Results

In this final step, you'll practice using the ORDER BY statement to customize the ordering of a query's results.

**Instructions**

Return the first 20 non-engineering majors in reverse alphabetical order.
- We're only interested in returning the major names in the results.

In [17]:
x='''select major
from recent_grads
where Major_category!='Engineering'
order by major desc
limit 10;'''

print_sql(x)

('ZOOLOGY',)
('VISUAL AND PERFORMING ARTS',)
('UNITED STATES HISTORY',)
('TREATMENT THERAPY PROFESSIONS',)
('TRANSPORTATION SCIENCES AND TECHNOLOGIES',)
('THEOLOGY AND RELIGIOUS VOCATIONS',)
('TEACHER EDUCATION: MULTIPLE LEVELS',)
('STUDIO ARTS',)
('STATISTICS AND DECISION SCIENCE',)
('SPECIAL NEEDS EDUCATION',)

# 6. Next Steps
In the next mission, we'll walk through how to query a SQLite database from Python. Most companies use a SQL database of some kind to store their data. Learning how to interface with SQL databases from Python will allow you to incorporate more sources into your data science workflow.

**LOLOLOLOL ALREADY DOING THIS BITCHESSSSS <font color=blue> WHO DA MAN <font color=red>I DA MAN!**